---
import type { PaginationLink } from "@/types";

interface Props {
	nextUrl?: PaginationLink;
	prevUrl?: PaginationLink;
}

const { nextUrl, prevUrl } = Astro.props;

const paginatorLink =
	"ease-productive hover:text-link inline-flex items-center gap-2 py-2 font-mono text-xs uppercase tracking-[0.1em] transition-colors duration-100";
---

{
	(prevUrl || nextUrl) && (
		<nav class="border-border mt-8 flex items-center gap-x-4 border-t pt-4">
			{prevUrl && (
				<a class={`${paginatorLink} me-auto`} href={prevUrl.url}>
					{prevUrl.srLabel && <span class="sr-only">{prevUrl.srLabel}</span>}
					{prevUrl.text ? prevUrl.text : "Previous"}
				</a>
			)}
			{nextUrl && (
				<a class={`${paginatorLink} ms-auto`} href={nextUrl.url}>
					{nextUrl.srLabel && <span class="sr-only">{nextUrl.srLabel}</span>}
					{nextUrl.text ? nextUrl.text : "Next"}
				</a>
			)}
		</nav>
	)
}
